<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451078115895-09b76qgviaq8vnuj6jr4imaoqrq1tgj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451078115895-09b76qgviaq8vnuj6jr4imaoqrq1tgj1</string>
	<key>API_KEY</key>
	<string>AIzaSyDAhOWTcp_v072ZHEDd-FF19XWYn1ykDtY</string>
	<key>GCM_SENDER_ID</key>
	<string>451078115895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DeveloperLuan.MA18Firecloud</string>
	<key>PROJECT_ID</key>
	<string>test-9b969</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9b969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451078115895:ios:1e509c23a336ae66</string>
	<key>DATABASE_URL</key>
	<string>https://test-9b969.firebaseio.com</string>
</dict>
</plist>